{% extends "index.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
    <div class="container py-5 h-100 mb-3">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-lg-7">
                                <h5 class="mb-3"><a href="{% url 'main' %}" class="text-body"><i
                                        class="fas fa-long-arrow-alt-left me-2"></i></a>Повернутись до покупок</h5>
                                <hr>
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Ваш кошик</p>
                                        <p class="mb-0">Ви маєте {{ cart|length }} товари </p>
                                    </div>
                                </div>

                                {% for item in cart %}
                                    {% with product=item.product %}
                                        <div class="card mb-3 mb-lg-0">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div>
                                                            <img src="{% if product.images.all.0.image %}
                                                                            {{ product.images.all.0.image.url }}
                                                                            {% else %}
                                                                            {% static 'not_available_icons/no-image-icon-23485.png' %}
                                                                            {% endif %}"
                                                                 class="img-fluid rounded-3" alt="Shopping item"
                                                                 style="width: 65px;">
                                                        </div>
                                                        <div class="ms-3">
                                                            <h5>{{ product.title }}</h5>
                                                            <p class="small mb-0">Категорія:
                                                                {% for category in  product.category.all %}
                                                                    {{ category.name }}
                                                                {% endfor %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <a type="button" class="btn btn-primary rounded-pill me-2"
                                                           data-bs-toggle="modal"
                                                           data-bs-target="#staticBackdrop{{ product.id }}">
                                                            {{ item.quantity }} {{ product.measure.name }}
                                                        </a>


                                                        <!-- Modal -->
                                                        <div class="modal fade" id="staticBackdrop{{ product.id }}"
                                                             data-bs-backdrop="static" data-bs-keyboard="false"
                                                             tabindex="-1"
                                                             aria-labelledby="staticBackdrop{{ product.id }}Label"
                                                             aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            id="staticBackdrop{{ product.id }}Label">
                                                                            Змінити кількість</h5>
                                                                        <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                    </div>
                                                                    <form action="{% url "cart:cart_add" product.id %}"
                                                                          method="post">
                                                                        <div class="modal-body">
                                                                            <div style="width: 50px;">
                                                                                {% csrf_token %}
                                                                                {{ item.update_quantity_form.quantity }}
                                                                                {{ item.update_quantity_form.override }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit"
                                                                                    class="btn btn-primary"
                                                                                    value="Update">Оновити
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="font-weight-bold">
                                                            <h5 class="mb-0 ms-2 me-2">{{ item.price }} ₴</h5>
                                                        </div>
                                                        <form id="deleteForm"
                                                              action="{% url "cart:cart_remove" product.id %}"
                                                              method="post">

                                                            {% csrf_token %}
                                                            <button type="submit" id="deleteButton"
                                                                    class="btn  btn-secondary ms-2">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </button>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </div>

                            <div class="col-lg-5">
                                <div class="card   rounded-3">
                                    <div class="card-body">
                                        <h5 class="card-title mb-3">Оформити замовлення</h5>
                                        <form method="post" action="{% url 'order_create' %}">
                                            <div class="row">
                                                <div class="mb-3">
                                                    <p class="mb-0">Ім'я</p>
                                                    <div class="form-outline">
                                                        {{ order_form.first_name }}
                                                    </div>
                                                </div>

                                                <div class="mb-3">
                                                    <p class="mb-0">Прізвище</p>
                                                    <div class="form-outline">
                                                        {{ order_form.last_name }}
                                                    </div>
                                                </div>

                                                <div class=" mb-3">
                                                    <p class="mb-0">Електронна пошта</p>
                                                    <div class="form-outline">
                                                        {{ order_form.email }}
                                                    </div>
                                                </div>

                                                <div class=" col-6 mb-3">
                                                    <p class="mb-0">Телефон</p>
                                                    <div class="form-outline">
                                                        {{ order_form.phone }}
                                                    </div>
                                                </div>

                                                <div class=" col-6 mb-3">
                                                    <p class="mb-0">Населений пункт</p>
                                                    <div class="form-outline">
                                                        {{ order_form.city }}
                                                    </div>
                                                </div>

                                                <div class=" col-6 mb-3">
                                                    <p class="mb-0">Відділення</p>
                                                    <div class="form-outline">
                                                        {{ order_form.warehouse }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="float-end">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success shadow-0 border">
                                                    Оформити
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

