{% extends 'index.html' %}

{% block content %}

    <article class="container page">
        <div class="row">
            <div class="col col-12 col-lg-5">
                {{ about_info.left_side_of_page|safe }}
            </div>
            <div class="col col-12 offset-lg-1 col-lg-6 mt-5 mt-lg-0">
                {{ about_info.right_side_of_page|safe }}
            </div>
        </div>
        <div style="width: 100%; display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px">
            <form style="width: 40rem;">
                <!-- Name input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="form4Example1" class="form-control"/>
                    <label class="form-label" for="form4Example1">Ім'я</label>
                </div>

                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="form4Example2" class="form-control"/>
                    <label class="form-label" for="form4Example2">Електронна адреса</label>
                </div>

                <!-- Message input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                    <label class="form-label" for="form4Example3">Повідомлення</label>
                </div>

                <!-- Submit button -->
                <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4">Надіслати</button>
            </form>
        </div>
    </article>

{% endblock %}
