{% extends 'index.html' %}

{% block custom_title %}
    <title>{{ about_info.meta_title }}</title>
{% endblock %}

{% block custom_meta %}
    <meta name="description" content="{{ about_info.meta_description }}">
    <meta name="robots" content="index, follow">
{% endblock %}

{% block content %}

    <section class="container page">
        <div class="row">
            <article class="col col-12 col-lg-5">
                {{ about_info.left_side_of_page|safe }}
            </article>
            <article class="col col-12 offset-lg-1 col-lg-6 mt-5 mt-lg-0">
                {{ about_info.right_side_of_page|safe }}
            </article>
        </div>
        <h3>Маєте питання? Звертайтеся за цією формою:</h3>
        <section style="width: 100%; display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px">
            <form style="width: 40rem;" method="post" action="{% url 'contact-form-create' %}">
                {% csrf_token %}

                {% if question_form.non_field_errors %}
                    <ul>
                        {% for error in question_form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <!-- Name input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    {{ question_form.name }}
                    <label class="form-label" for="name">Ім'я</label>
                    {{ question_form.name.errors }}
                </div>

                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    {{ question_form.email }}
                    <label class="form-label" for="email">Електронна адреса</label>
                    {{ question_form.email.errors }}
                </div>

                <!-- Message input -->
                <div data-mdb-input-init class="form-outline">
                    {{ question_form.message }}
                    <label class="form-label" for="message">Повідомлення</label>
                    {{ question_form.message.errors }}
                </div>
                <div style="margin-top: 5px; margin-bottom: 25px">
                    <span>Максимум 500 символів.</span>
                </div>

                <!-- Submit button -->
                <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Надіслати</button>
            </form>
        </section>
    </section>

{% endblock %}
