{% extends 'index.html' %}

{% block custom_title %}
    <title>{{ delivery_info.meta_title }}</title>
{% endblock %}

{% block custom_meta %}
    <meta name="description" content="{{ delivery_info.meta_description }}">
    <meta name="robots" content="index, follow">
{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <article class="col col-12 col-lg-5 mt-3">
                {{ delivery_info.delivery_info|safe }}
            </article>
            <article class="col col-12 offset-lg-1 col-lg-6 mt-5 mt-lg-5">
                {{ delivery_info.payments|safe }}
            </article>
        </div>
    </section>

{% endblock %}
