{% extends 'index.html' %}

{% block content %}
<article class="container page">
    <div class="row">
        <div class="col col-12 col-lg-5">
            <h2>Оплата</h2>
            <p>Замовлення можна оплатити:</p>
            <ol class="styled">
                <li>передоплатою на карту ПриватБанку (через платіжну систему на сайті або за реквізитами, які вкаже
                    наш менеджер);
                </li>
                <li>готівкою при доставці кур’єром (тільки м. Івано-Франківськ);</li>
                <li>післяплатою при отриманні на “Новій Пошті”.</li>
            </ol>
            <p style="margin-bottom: 40px;">Оплату можна здійснити протягом 3-х днів після оформлення замовлення.
                Після закінчення цього часу неоплачене замовлення буде відправлене до архіву та через 10 днів
                видалене. За необхідності можна оформити замовлення повторно.</p>
            <p style="margin-bottom: 40px;"><strong><span style="color: #c41100;">ВАЖЛИВО!</span>&nbsp;</strong>Вся
                продукція компанії «Земледар» виготовляється лише з моменту вашого замовлення протягом 1-3 робочих
                днів. Дорогі покупці, плануйте замовлення заздалегідь!</p>
            <h2>Доставка по Україні</h2>
            <p>Доставка замовлень проводиться на території України через “Нову Пошту” за рахунок покупця. Товари
                відправляються у робочі дні.</p>
            <strong><span style="color: #c41100;">ЗВЕРНІТЬ УВАГУ!</span></strong> На “Новій Пошті” замовлення
            зберігаються безкоштовно лише 5 робочих днів, після чого автоматично повертаються до нас на виробництво.
            Будь ласка, контролюйте терміни зберігання! Для повторного відправлення замовлення необхідно
            компенсувати пересилання в обидві сторони.
            <h3 class="mt-5">Доставка по Івано-Франківську</h3>
            <p>Для жителів Івано-Франківська доступні також варіанти:</p>
            <ol class="styled">
                <li>самовивіз з 8:00 до 16:00 з офісу “Земледар” за адресою: вул. Гетьмана Мазепи, 136, 1 поверх;
                </li>
                <li>доставка кур’єром – безкоштовно для замовлень від 1 000 грн. Замовлення на меншу суму
                    оплачуються за тарифами місцевих компаній-перевізників.
                </li>
            </ol>
        </div>
        <div class="col col-12 offset-lg-1 col-lg-6 mt-5 mt-lg-0">
            <p class="text-medium"><strong><span style="color: #c00505;">ЕКОЛОГІЧНЕ ПАКУВАННЯ!</span></strong> У
                корзині замовлень є можливість вибрати опцію "Екологічне пакування".&nbsp;<span
                        style="font-family: -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, Oxygen, Ubuntu, Cantarell, &#39;Open Sans&#39;, &#39;Helvetica Neue&#39;, sans-serif;">Це
						означає, що всі елементи пакування та фасування, які містять пластик або елемети хімічної
						промисловості, будуть замінені на 100% екологічне пакування:</span></p>
            <ol class="styled">
                <li>пакети ємкістю 100 г, 250 г, 500 г, що мають пластиковий шар зсередини, замінюються на крафтові
                    пакети ємкістю 1000 г без пластикового шару;
                </li>
                <li>пакувальна плівка для пляшок з повітряними пухирцями замінюється на двошаровий крафтовий
                    гофрокартон;
                </li>
                <li class="text-medium">стрейч-плівка для пакування коробок замінюється на крафтовий пакувальний
                    папір;
                </li>
                <li class="text-medium">звичайний скотч для армування коробок замінюється на екологічний скотч,
                    виготовленний з рослинної сировини.
                </li>
            </ol>
            <p class="text-medium">Вартість екопакування вища за звичайне та залежить від об'єму замовлення. У
                корзині буде вказана сума екологічного пакування.&nbsp;</p>
        </div>
    </div>
</article>

{% endblock %}