{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="container-lg">
        <div class="container-sm" style="margin-top: 10px; width: 500px; color: black">
            <form method="post" enctype="multipart/form-data" class="row g-3">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save" class="btn btn-outline-success"
                       style="width: 150px; margin-top: 15px;">
            </form>
            <a class="nav-link" style="margin-top: 15px" href={% url 'login' %}>Login</a>
        </div>
    </div>
{% endblock %}
