{% extends 'index.html' %}

{% block content %}

    <article class="container page">
        <p>Ми прагнемо, щоб ви отримували найбільш якісну продукцію та найкращий сервіс. Проте якщо з якихось причин ви
            отримали не той товар, який замовляли, або вас не влаштувала його якість, ми завжди націлені на комфорт
            покупця. Якщо проблема виникла з нашої вини, ми пропонуємо наступні <strong>варіанти компенсації:</strong>
        </p>
        <ol class="styled">
            <li>відшкодування коштів;</li>
            <li>заміна продукції;</li>
            <li>знижка у розмірі вартості товару, що підлягає поверненню, при наступному замовленні.</li>
        </ol>
        <p><strong>Зверніться, будь ласка, до наших менеджерів за номером телефону 096-837-1000, 050-130-6525 або
            заповніть форму нижче. Претензії щодо якості продукту приймаються протягом доби після доставки.</strong></p>
        <p class="text-medium"><span style="color: #c00505;">Важливо!</span> Ми радимо забрати посилку якомога швидше
            після її прибуття, оскільки відділення служби доставки не націлені на правильне зберігання продуктів
            харчування.</p>
        <p class="text-medium"><span style="color: #c00505;">Зверніть увагу!</span> Відповідальність за цілісність і
            збереження відправленого замовлення лежить на кур’єрській службі, тому при відправленні товару ми вказуємо
            страхову суму, що дорівнює вартості покупки. При отриманні перевіряйте посилку на місці та не ставте підпис,
            поки не будете впевнені у цілісності упаковки та продуктів. Якщо є якісь пошкодження – перевізник
            зобов’язаний компенсувати збитки.</p>
    </article>


{% endblock %}